.prodBod {
	font-size: x-large;
	padding-bottom: 11%;
}

.prodBod input {
	font-size: larger;
	border-radius: 10px;
	border-style: solid;
}

.prodBod .searchButton {
	color: #fef9f8;
	background-color: #ef9273;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: large;
	border-radius: 10px;
	border-style: none;
}

.prodBod .searchButton:hover {
	cursor: pointer;
}

.prodBod h5,
h1 {
	text-align: center;
}
.searchBar {
	text-align: center;
}

.actualSearchBar {
	width: 850px;
	padding-left: 30px;
	margin-left: 20px;
	box-shadow: 10px 10px #f7d0b3;
}

.productInfo {
	display: grid;
	grid-template-columns: 20% 20% 20%;
}

.productInfo div {
	text-align: center;
}

.productInfo img {
	width: 50px;
	height: 50px;
}

.productInfo P {
	width: 40%;
}

.productInfo h5 {
	font-size: larger;
}
