*{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

li{
    list-style: none;
    padding: 5px;

}

a{
    text-decoration: none;
    color: #0D0D0D;
}
